h1{
animation: 3s ease-in-out 1s 1 slidein;
}
/* duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
        color: #fff;
    }

    to {
        margin-left: 0%;
        width: 100%;
        color: #000;
    }
}
/* css form */
form .form-control-lg{
    background-color: #eeeeef;
}
form  div.submit{
    background-color: #fff;
}